body {
    background-color: lightblue;
}
.estiloDeParrafo {
    color: blue;
    font-size: 18px;
}
.borde-foto {
    border: 2px solid black;
}
.enlace {
    color: brown;
    text-decoration: none;
}
.enlace:hover { 
    color: blueviolet;
    text-decoration: underline;
}

.contenedor-centrado {
 /* Estilos para el contenedor */
    display: flex; /* Usa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa el 100% del alto de la ventana */
    
}
.boton {
    background-color: antiquewhite;
    color: black;
    padding: 10px 20px; /* Espacio interno */
    border: dashed blue; /* Sin borde */
    cursor: pointer; /* Cursor de puntero al pasar sobre el botón */
}
.boton:hover {
    background-color: chocolate;
}
.lista{
    list-style: none;
    padding: 0;
}
.viñeta {
        padding-bottom: 5px 0;
        border-bottom: 1px solid #ccc;
}
.menu ul{
    list-style: none;
    padding: 0;
    display: flex;
}
.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: blue;
}
.menu a:hover {
    color: darkblue;
}

.campo-nombre, .campo-correo {
    width: 25%; /* Ancho completo */
    margin-bottom: 10px; /* Espacio entre campos */
    padding: 10px; /* Espaciado interno */
    }
    /* Estilos para el botón */
    .boton-enviar {
    background-color: blue; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    cursor: pointer; /* Cursor de puntero */
    }
    /* Efecto hover */
    .boton-enviar:hover {
    background-color: darkblue; /* Cambia el color de fondo al pasar el mouse */
    }
    /* Estilos para la barra de navegación */
.barra-navegacion {
    position: fixed; /* Fija la barra de navegación en la parte superior de la página */
    top: 0; /* Coloca la barra en la parte superior */
    left: 0; /* Coloca la barra en el borde izquierdo */
    width: 100%; /* Ocupa el ancho completo de la ventana */
    background-color: #333; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    }
    /* Estilos para los enlaces de la barra de navegación */
    .barra-navegacion a {
    color: white; /* Color del texto */
    text-decoration: none; /* Elimina el subrayado predeterminado */
    margin-right: 20px; /* Espacio entre enlaces */
    }